mixin refresher
  ion-refresher(on-refresh='sync()', pulling-text='Pull to refresh...', refreshing-icon='ion-loading-d')

mixin navBtns
  ion-nav-buttons(side='left')
    button.button.button-icon.icon.ion-navicon(menu-toggle='left')
  ion-nav-buttons(side='right')
    span(ng-show='User.settings.fetching || chatSyncing')
      a.button.button-icon.icon.ion-loading-d
    block

mixin content(tabs)
  ion-content.has-header(class="#{tabs ? 'has-tabs' : ''}")
    +refresher()
    block

mixin ionView(title)
  ion-view(title='#{title}')
    +navBtns()
    block

mixin ionContentView(title, tabs)
  +ionView(title)
    +content(tabs)
      block

mixin ionTab(title,iconOn,iconOff)
  ion-tab(title=title,icon-on=iconOn,icon-off=iconOff || iconOn)
    +content(true)
      block

- var mobile = true

html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
    title HabitRPG
    // Place favicon.ico and apple-touch-icon.png in the root directory
    // Do not include in build because already minified and can't be put minified here because it would end with wrong paths !
    link(rel='stylesheet', href='bower_components/habitrpg-shared/dist/habitrpg-shared.css')

    link(rel='stylesheet', type='text/css', href='bower_components/js-emoji/emoji.css')
    link(rel='stylesheet', type='text/css', href='bower_components/ionic/release/css/ionic.min.css')
    link(rel='stylesheet', type='text/css', href='css/app.css')

    script(type='text/javascript').
      window.env = !{JSON.stringify(env)};

    script(src='cordova.js')
    script(src='js/app.min.js')

  body(ng-app='habitrpg', ng-controller='RootCtrl', ng-cloak)
    include notifications
    include auth
    include app
    div(ui-view='')
