mixin petList(source)
  each egg in source
    each potion in env.Content.hatchingPotions
      - pet = egg.key+"-"+potion.key
      a.item.item-icon-right(href='#/app/pet-details/#{pet}')
        .stable-pet-icon(class="Pet-#{pet}", ng-if='user.items.pets["#{pet}"]>0')
        .PixelPaw.stable-pet-not-owned-icon(ng-if='!user.items.pets["#{pet}"]')
        p=env.t('petName', {potion: potion.text(env.language.code), egg: egg.text(env.language.code)})
        i.icon.ion-chevron-right

script(id='views/app.pet-details.html',type='text/ng-template')
  +ionView('Pet details')
    +content(true)
      .list
        .item 
          {{pet}}
          div(class="Pet-{{pet}}", ng-if='user.items.pets[pet]>0')
          .PixelPaw(ng-if='!user.items.pets[pet]')

script(id='views/app.stable.html',type='text/ng-template')
  +ionView('Stable')
    ion-tabs
      +ionTab(env.t('pets'))
        .list
          +petList(env.Content.dropEggs)
          .item.item-divider=env.t('questPets')
          +petList(env.Content.questEggs)
          .item.item-divider=env.t('rarePets')
          each t,k in env.Content.specialPets
            - var egg = k.split('-')[0], pot = k.split('-')[1]
            .item(ng-if='user.items.pets["#{k}"]')
              .stable-pet-icon(class="Pet-#{pet}", ng-if='user.items.pets["#{pet}"]>0')
              p=env.t(t)
          .item(ng-if='!user.items.pets["Dragon-Hydra"]')
            a(target='_blank', href='http://habitrpg.wikia.com/wiki/Contributing_to_HabitRPG') 
              .PixelPaw-Gold.stable-pet-not-owned-icon
              | Rare pet contributors

      +ionTab(env.t('mounts'))
        .list
          each egg in env.Content.eggs
            each potion in env.Content.hatchingPotions
              - mount = egg.key+"-"+potion.key
              .item
                .stable-pet-icon(class="Mount_Head_#{mount}", ng-if="user.items.mounts[\"#{mount}\"]")
                .PixelPaw.stable-pet-not-owned-icon(ng-if='!user.items.mounts["#{mount}"]')
                p=env.t('mountName', {potion: potion.text(env.language.code), mount: egg.mountText(env.language.code)})
          .item.item-divider=env.t('rareMounts')

      div(ui-view='')